<div class="page-container">

  <div class="search-area">
    <input type="text" #userInput placeholder="Enter city name">
    <button (click)="getCity(userInput.value)">Search</button>
  </div>

  <!--<h2>Weather in {{ weather.name }}, {{ weather.sys.country }}</h2>-->

  <mat-spinner *ngIf="loading"></mat-spinner>

  <p *ngIf="!geo">{{ message }}</p>

  <p *ngIf="cityNotFound">{{ message }}</p>

  <div *ngIf="weather && !cityNotFound" class="weather-details">
    <div><span class="title">Weather in </span></div>
    <div><span class="title">{{ weather.name }}, {{ weather.sys.country }}</span></div>
    <p><img width="60px" src="http://openweathermap.org/img/wn/{{ weather.weather[0].icon }}.png" alt=""></p>
    <p class="descr">{{ weather.weather[0].description }}, {{ weather.main.temp }}C</p>
    <p>Feels like:</p><p> {{ weather.main.feels_like }}</p>
    <p>min Temp:</p><p> {{ weather.main.temp_min }}, max Temp: {{ weather.main.temp_max }}</p>
    <p>Humidity:</p><p> {{ weather.main.humidity }}%</p>
    <p>Pressure:</p><p> {{ weather.main.pressure }} hpa</p>
    <p>Wind:</p><p> {{ weather.wind.speed }}, direction: {{ weather.wind.deg }}</p>
    <p>Sunrise:</p><p> {{ weather.sys.sunrise * 1000 | date:'H:mm' }}</p>
    <p>Sunset:</p><p> {{ weather.sys.sunset * 1000 | date: 'H:mm' }}</p>
    <p>Geo Cords:</p><p> {{ weather.coord.lat }}, {{ weather.coord.lon }}</p>
  </div>


  <!--<agm-map [latitude]="lat" [longitude]="lon">
    <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
  </agm-map>-->

</div>

<!-- http://openweathermap.org/img/wn/10d@2x.png   -->
